html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    color: #9e0033;
    font-size: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(bg2.jpg);
    background-attachment: fixed;
}
header{
    background-color: #fdffeed3;
    text-align: center;
    font-family: "Flavors";
    margin-top: 7px;
    padding-top: 4px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.banner{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 31px;
}
.logo{
    height: 48px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #a1182c;
    margin-right: 10px;
    padding: 5px;
    background-color: #f7f6f6;
    border-radius: 5px;
    border: 2px solid #a1182c;
    align-items: center;
}
nav a:hover{
    color: #f7f6f6;
    background-color: #a1182c;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid #a1182c;
    font-size: 21px;
}
section{
    height: 600px;
    text-align: center;
}
section.home{
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(bg1.png);
    padding-top: 55px;
    height: 100vh;
}
.containerhome{
    width: 60%;
    position: relative;
    h1{
        font-size: 100px;
        font-family: 'Henny Penny';
        margin: 40px 0px 0px 35px;
    }
    p{
        color: #fdffee;
        margin-left: 35px;
        font-family: 'Flavors';
        font-size: 25px;
        margin-top: -40px;
    }
}
.cat img{
    position: absolute;
    left: 15px;
    top: 8.5px;
    width: 50px;
    transform: rotate(-20deg);
}
section.project{
    background-color: #fce5c0;
    margin: 40px auto;
    align-items: center;
    height: auto;
    width: 65%;
    padding: 5px;
    padding-bottom: 40px;
    border-radius: 10px;
    position: relative;
    h2{
        font-family: 'Henny Penny';
        font-size: 60px;
        margin: 10px;
    }
}
.containerproject1{
    border: 4px solid #54091d;
    background-color: #b7354a;
    width: 80%;
    margin-left: 25%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: auto;
    h1{
        color: #fec2d0;
        font-size: 50px;
        font-family:'Henny Penny';
        font-weight: 600;
        text-align: center;
        margin: 15px 0px -18px 0px;
    }
    p{
        color: #fdffee;
        margin: auto;
        margin-bottom: 15px;
        font-family: 'Indie Flower';
        font-size: 23px;
        text-align: center;
        width: 85%;
    }
}
.dokumentasi img{
    width: 200px;
    margin: 30px 50px 30px 0px;
    border-radius: 10px;
}
.dokumentasi img:hover{
    transform: scale(1.2) rotate(3deg);
    transition: 0.5s;
}
.decor1 img{
        position: absolute;
        left: 60px;
        top: 80px;
        width: 60px;
        transform: rotate(-10deg);
    }
.decor1 img:hover{
    transform: scale(1.2) rotate(-12deg);
    transition: 0.5s;
}
.madeinto{
    margin: 10px;
    font-family: 'Flavors';
}
.containerproject2{
    border: 4px solid #54091d;
    background-color: #b7354a;
    width: 80%;
    margin-right: 25%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: auto;
    h1{
        color: #fec2d0;
        font-size: 50px;
        font-family:'Henny Penny';
        font-weight: 600;
        text-align: center;
        margin: 15px 0px -16px 0px;
    }
    p{
        color: #fdffee;
        margin: auto;
        margin-bottom: 15px;
        font-family: 'Indie Flower';
        font-size: 23px;
        text-align: center;
        width: 85%;
    }
}
.dokumentasi2 img{
    width: 200px;
    margin: 35px 0px 25px 50px;
    border-radius: 10px;
}
.dokumentasi2 img:hover{
    transform: scale(1.1) rotate(-2deg);
    transition: 0.5s;
}
.decor2 img{
        position: absolute;
        right: 55px;
        bottom: 360px;
        width: 60px;
        transform: rotate(10deg);
    }
.decor2 img:hover{
    transform: scale(1.2) rotate(12deg);
    transition: 0.5s;
}
.card1 img{
        position: absolute;
        right: -105px;
        top: 100px;
        width: 45px;
        transform: rotate(-10deg);
        opacity: 0.6;
    }
.card2 img{
        position: absolute;
        left: -170px;
        top: 15px;
        width: 45px;
        transform: rotate(-15deg);
        opacity: 0.6;
    }
.card3 img{
        position: absolute;
        left: -110px;
        top: 130px;
        width: 45px;
        transform: rotate(20deg);
        opacity: 0.6;
    }
.card4 img{
        position: absolute;
        right: -180px;
        top: -10px;
        width: 45px;
        transform: rotate(40deg);
        opacity: 0.6;
    }
.card5 img{
        position: absolute;
        left: -190px;
        top: 230px;
        width: 45px;
        transform: rotate(-40deg);
        opacity: 0.6;
    }
.card6 img{
        position: absolute;
        right: -110px;
        top: 280px;
        width: 45px;
        transform: rotate(120deg);
        opacity: 0.6;
    }
.card7 img{
        position: absolute;
        right: -190px;
        top: 400px;
        width: 48px;
        transform: rotate(40deg);
        opacity: 0.6;
    }
.card8 img{
        position: absolute;
        right: -100px;
        top: 540px;
        width: 45px;
        transform: rotate(-15deg);
        opacity: 0.6;
    }
.card9 img{
        position: absolute;
        right: -180px;
        top: 650px;
        width: 45px;
        transform: rotate(10deg);
        opacity: 0.6;
    }
.card10 img{
        position: absolute;
        left: -100px;
        top: 380px;
        width: 45px;
        transform: rotate(45deg);
        opacity: 0.6;
    }
.card11 img{
        position: absolute;
        left: -190px;
        top: 500px;
        width: 45px;
        transform: rotate(110deg);
        opacity: 0.6;
    }
.card12 img{
        position: absolute;
        left: -100px;
        top: 600px;
        width: 45px;
        transform: rotate(10deg);
        opacity: 0.6;
    }
.card13 img{
        position: absolute;
        left: -170px;
        top: 750px;
        width: 45px;
        transform: rotate(-20deg);
        opacity: 0.6;
    }
.card14 img{
        position: absolute;
        left: -100px;
        top: 870px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
    }
.card15 img{
        position: absolute;
        right: -120px;
        top: 780px;
        width: 45px;
        transform: rotate(-70deg);
        opacity: 0.6;
    }
.card16 img{
        position: absolute;
        right: -170px;
        top: 900px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
}
section.howto{
    background-image: url(bg3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 40px 0px 40px 40px;
    overflow: auto;
    position: relative;
}
.containerhowto1{
    background-color: #ab283b;
    width: 65%;
    border-radius: 10px;
    padding: 20px;
    color: #fec2d0;
    text-align: center;
    font-family: 'Flavors';
    font-size: 60px;
    border: 3px solid #f7f6f6;
    position: relative;
}
.isi1{
    margin-top: 5px;
    width: 100%;
}
.alatbahan1{
    font-family:'Indie Flower';
    text-align: justify;
    h2{
        color: #fdffee;
        font-size: 28px;
        font-weight: 600;
        margin: 10px 0px -1px 20px;
    }
    ul{
        color: white;
        margin: auto;
        margin-bottom: 15px;
        font-size: 21px;
        column-count: 4;
        column-gap: normal;
    }
}
.kefirhowto img{
        position: absolute;
        right: -355px;
        top: 55px;
        width: 200px;
        transform: rotate(7deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
        z-index: 2;
}
.kefirhowto img:hover{
    transform: scale(1.05) rotate(9deg);
    transition: 0.5s;
}
.kefirhowto2 img{
        position: absolute;
        right: -245px;
        top: 260px;
        width: 200px;
        transform: rotate(-7deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
}
.kefirhowto2 img:hover{
    transform: scale(1.05) rotate(-9deg);
    transition: 0.5s;
}
.langkah1{
    font-family:'Indie Flower';
    text-align: justify;
    h2{
        color: #fdffee;
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0px -1px 20px;
    }
    ol{
        color: white;
        margin: auto auto 15px 0px;
        font-size: 20px;
    }
}
.containerhowto2{
    background-color: #ab283b;
    width: 65%;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    color: #fec2d0;
    text-align: center;
    font-family: 'Flavors';
    font-size: 60px;
    border: 3px solid #f7f6f6;
    position: relative;
    margin: 25px 40px 0px 0px;
    float: right;
}
.isi2{
    margin-top: 5px;
    width: 100%;
}
.alatbahan2{
    font-family:'Indie Flower';
    text-align: justify;
    h2{
        color: #fdffee;
        font-size: 28px;
        font-weight: 600;
        margin: 10px 0px -1px 20px;
    }
    ul{
        color: white;
        margin: auto;
        margin-bottom: 15px;
        font-size: 21px;
        column-count: 6;
        column-gap: 51px;
    }
}
.langkah2{
    width: auto;
    font-family:'Indie Flower';
    text-align: justify;
    h2{
        color: #fdffee;
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0px -1px 20px;
    }
    ol{
        color: white;
        margin: auto auto 15px 0px;
        font-size: 20px;
    }
}
.kefirhowto3 img{
        position: absolute;
        left: -355px;
        top: 105px;
        width: 200px;
        transform: rotate(-5deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
}
.kefirhowto3 img:hover{
    transform: scale(1.05) rotate(-7deg);
    transition: 0.5s;
}
.kefirhowto4 img{
        position: absolute;
        left: -245px;
        top: 395px;
        width: 200px;
        transform: rotate(6deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
}
.kefirhowto4 img:hover{
    transform: scale(1.05) rotate(8deg);
    transition: 0.5s;
}
.kefirhowto5 img{
        position: absolute;
        left: -355px;
        top: 685px;
        width: 200px;
        transform: rotate(-6deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
}
.kefirhowto5 img:hover{
    transform: scale(1.05) rotate(-8deg);
    transition: 0.5s;
}
.kefirhowto6 img{
        position: absolute;
        left: -255px;
        top: 960px;
        width: 200px;
        transform: rotate(6deg);
        border-radius: 10px;
        border: 5px solid #ab283b;
}
.kefirhowto6 img:hover{
    transform: scale(1.05) rotate(8deg);
    transition: 0.5s;
}
.card17 img{
        position: absolute;
        right: -350px;
        top: -20px;
        width: 45px;
        transform: rotate(40deg);
        opacity: 0.6;
}
.card18 img{
        position: absolute;
        right: -95px;
        top: 120px;
        width: 45px;
        transform: rotate(140deg);
        opacity: 0.6;
}
.card19 img{
        position: absolute;
        right: -330px;
        top: 380px;
        width: 45px;
        transform: rotate(70deg);
        opacity: 0.6;
}
.card20 img{
        position: absolute;
        right: -200px;
        top: 580px;
        width: 45px;
        transform: rotate(95deg);
        opacity: 0.6;
}
.card21 img{
        position: absolute;
        left: -330px;
        top: 20px;
        width: 45px;
        transform: rotate(-70deg);
        opacity: 0.6;
}
.card22 img{
        position: absolute;
        left: -90px;
        top: 95px;
        width: 45px;
        transform: rotate(15deg);
        opacity: 0.6;
}
.card23 img{
        position: absolute;
        left: -90px;
        top: 300px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
}
.card24 img{
        position: absolute;
        left: -330px;
        top: 535px;
        width: 45px;
        transform: rotate(-15deg);
        opacity: 0.6;
}
.card25 img{
        position: absolute;
        left: -90px;
        top: 820px;
        width: 45px;
        transform: rotate(20deg);
        opacity: 0.6;
}
.card26 img{
        position: absolute;
        left: -350px;
        top: 1080px;
        width: 45px;
        transform: rotate(-40deg);
        opacity: 0.6;
}
.card27 img{
        position: absolute;
        left: -320px;
        top: 1320px;
        width: 45px;
        transform: rotate(100deg);
        opacity: 0.6;
}
.card28 img{
        position: absolute;
        left: -90px;
        top: 1290px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
}
section.profile{
    margin: 40px auto;
    background-color: #fce5c0;
    width: 800px;
    height: 720px;
    border-radius: 10px;
    border: 5px solid #54091d;
    padding: 10px;
    position: relative;
    h2{
        margin: 0px;
        padding-top: 10px;
        font-family: 'Henny Penny';
        font-size: 50px;
    }
}
.cardprofile{
    width: 50%;
    position: relative;
    margin: 0px 20px;
    p{
        position: relative;
        left: auto;
        top: 550px;
        font-size: 25px;
        font-family: 'Indie Flower';
        font-weight: 700;
        padding-top: 10px;
    }
}
.realcard img{
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
}
.fakecard img{
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
}
.fakecard:hover{
    opacity: 0;
    transition: 0.4s;
}
.cardprofile2{
    width: 48%;
    float: right;
    margin: 10px;
}
.profileinfo{
    text-align: center;
    margin: 5px;
    font-family: 'Henny Penny';
    padding-top: 45px;
    h3{
        font-size: 45px;
        margin: 0px;
        color: #ab283b;
    }
    p{
        font-size: 25px;
        margin-top: 5px;
    }
}
.socials{
    text-align: center;
    margin-top: 2px;
    width: 100%;
}
.socials a{
    text-decoration: none;
    padding: 5px;
    color: #ab283b;
    font-size: 25px;
    p{
        font-size: 20px;
    }
}
.socials a:hover{
    font-size: 30px;
    color: #54091d;
    transition: 0.3s;
    padding: 10px;
}
.cat2 img{
    position: absolute;
    top: 0px;
    right: 5px;
    width: 50px;
    transform: rotate(25deg);
}