body{
    margin: 0px;
    color: #a1182c;
    font-size: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(bg2.jpg);
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #fdffeed3;
    text-align: center;
    font-family: "Flavors";
    margin-top: 7px;
    padding-top: 4px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.banner{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 31px;
}
.logo{
    height: 48px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #a1182c;
    margin-right: 10px;
    position: relative;
    padding: 5px;
    background-color: #f7f6f6;
    border-radius: 5px;
    border: 2px solid #a1182c;
    align-items: center;
    display: inline-block;
}
nav a:hover{
    color: #f7f6f6;
    background-color: #a1182c;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid #a1182c;
    transform: scale(1.12);
}
nav a::after{
    content:'';
    position: absolute;
    left: 0px;
    bottom: 2px;
    width: 0px;
    height: 2px;
    background-color: #f7f6f6;
    transition: 0.3s ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
section{
    height: 600px;
    text-align: center;
}
section.home{
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(bg1.png);
    padding-top: 55px;
    height: 100vh;
}
.containerhome{
    width: 60%;
    h1{
        color: #fec2d0;
        font-size: 100px;
        font-family: 'Henny Penny';
        margin: 40px 0px 0px 35px;
    }
    p{
        color: #fdffee;
        margin-left: 35px;
        font-family: 'Flavors';
        font-size: 25px;
        margin-top: -40px;
    }
}
section.project{
    background-color: #fce5c0;
    margin: 40px auto;
    align-items: center;
    height: auto;
    width: 65%;
    padding: 5px;
    padding-bottom: 40px;
    border-radius: 10px;
    position: relative;
    h2{
        font-family: 'Henny Penny';
    }
}
.containerproject1{
    border: 4px solid #54091d;
    background-color: #b7354a;
    width: 80%;
    margin-left: 25%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: auto;
    h1{
        color: #fec2d0;
        font-size: 50px;
        font-family:'Henny Penny';
        font-weight: 600;
        text-align: center;
        margin: 15px 0px -18px 0px;
    }
    p{
        color: #fdffee;
        margin: auto;
        margin-bottom: 15px;
        font-family: 'Indie Flower';
        font-size: 23px;
        text-align: center;
        width: 85%;
    }
}
.dokumentasi img{
    width: 200px;
    margin: 30px 50px 30px 0px;
    border-radius: 10px;
}
.dokumentasi img:hover{
    transform: scale(1.2) rotate(3deg);
    transition: 0.5s;
}
.decor1 img{
        position: absolute;
        left: 35px;
        top: 115px;
        width: 100px;
        transform: rotate(-10deg);
    }
.decor1 img:hover{
    transform: scale(1.2) rotate(-12deg);
    transition: 0.5s;
}
.madeinto{
    margin: 10px;
    font-family: 'Flavors';
}
.containerproject2{
    border: 4px solid #54091d;
    background-color: #b7354a;
    width: 80%;
    margin-right: 25%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: auto;
    h1{
        color: #fec2d0;
        font-size: 50px;
        font-family:'Henny Penny';
        font-weight: 600;
        text-align: center;
        margin: 15px 0px -16px 0px;
    }
    p{
        color: #fdffee;
        margin: auto;
        margin-bottom: 15px;
        font-family: 'Indie Flower';
        font-size: 23px;
        text-align: center;
        width: 85%;
    }
}
.dokumentasi2 img{
    width: 200px;
    margin: 35px 0px 25px 50px;
    border-radius: 10px;
}
.dokumentasi2 img:hover{
    transform: scale(1.1) rotate(-2deg);
    transition: 0.5s;
}
.decor2 img{
        position: absolute;
        right: 55px;
        bottom: 360px;
        width: 60px;
        transform: rotate(10deg);
    }
.decor2 img:hover{
    transform: scale(1.2) rotate(12deg);
    transition: 0.5s;
}
.card1 img{
        position: absolute;
        right: -105px;
        top: 100px;
        width: 45px;
        transform: rotate(-10deg);
        opacity: 0.6;
    }
.card2 img{
        position: absolute;
        left: -170px;
        top: 15px;
        width: 45px;
        transform: rotate(-15deg);
        opacity: 0.6;
    }
.card3 img{
        position: absolute;
        left: -110px;
        top: 130px;
        width: 45px;
        transform: rotate(20deg);
        opacity: 0.6;
    }
.card4 img{
        position: absolute;
        right: -180px;
        top: -10px;
        width: 45px;
        transform: rotate(40deg);
        opacity: 0.6;
    }
.card5 img{
        position: absolute;
        left: -190px;
        top: 230px;
        width: 45px;
        transform: rotate(-40deg);
        opacity: 0.6;
    }
.card6 img{
        position: absolute;
        right: -110px;
        top: 280px;
        width: 45px;
        transform: rotate(120deg);
        opacity: 0.6;
    }
.card7 img{
        position: absolute;
        right: -190px;
        top: 400px;
        width: 48px;
        transform: rotate(40deg);
        opacity: 0.6;
    }
.card8 img{
        position: absolute;
        right: -100px;
        top: 580px;
        width: 45px;
        transform: rotate(-15deg);
        opacity: 0.6;
    }
.card9 img{
        position: absolute;
        right: -180px;
        top: 690px;
        width: 45px;
        transform: rotate(10deg);
        opacity: 0.6;
    }
.card10 img{
        position: absolute;
        left: -100px;
        top: 380px;
        width: 45px;
        transform: rotate(45deg);
        opacity: 0.6;
    }
.card11 img{
        position: absolute;
        left: -190px;
        top: 500px;
        width: 45px;
        transform: rotate(110deg);
        opacity: 0.6;
    }
.card12 img{
        position: absolute;
        left: -100px;
        top: 600px;
        width: 45px;
        transform: rotate(10deg);
        opacity: 0.6;
    }
.card13 img{
        position: absolute;
        left: -170px;
        top: 750px;
        width: 45px;
        transform: rotate(-20deg);
        opacity: 0.6;
    }
.card14 img{
        position: absolute;
        left: -100px;
        top: 870px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
    }
.card15 img{
        position: absolute;
        right: -120px;
        top: 840px;
        width: 45px;
        transform: rotate(-70deg);
        opacity: 0.6;
    }
.card16 img{
        position: absolute;
        right: -170px;
        top: 960px;
        width: 45px;
        transform: rotate(80deg);
        opacity: 0.6;
}
section.howto{
    background-image: url(bg3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 40px 0px 40px 40px;
}
.containerhowto1{
    background-color: #fec2d0;
    width: 65%;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    color: #000000;
    text-align: center;
    font-family: 'Flavors';
    font-size: 60px;
    border: 2px solid #f7f6f6;
}
.isi{
    margin-top: 5px;
    display: flex;
}
.alatbahan{
    width: 45%;
    font-family:'Indie Flower';
    h2{
        color: #b7354a;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px -1px 0px;
    }
    ul{
        color: #000000;
        margin: auto;
        margin-bottom: 15px;
        font-size: 23px;
        text-align: justify;
        width: 85%;
    }
}
.langkah{
    width: auto;
    font-family:'Indie Flower';
    h2{
        color: #b7354a;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px -1px 0px;
    }
    ol{
        color: #000000;
        margin: auto;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: justify;
        width: 85%;
    }
}